/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/vendor
/node_modules
/bootstrap/compiled.php
/.env

.DS_Store
composer.phar
composer.lock
Thumbs.db
.idea
.vagrant
Vagrantfile
bootstrap.sh
phpmyadmin
_ide_helper.php
.phpstorm.meta.php
deploy/fabfile.pyc